<header class="header">
  <h1 class="sitettl">mamezo</h1>
  <p>まめぞうだらけ</p>
  <ul class="util">
  <% if signed_in? %>
      <li><%= link_to 'post', new_photo_path %></li>
      <li><%= link_to 'sign out', signout_path, method: "delete" %></li>
  <% else %>
      <li><%= link_to 'sign in', signin_path %></li>
  <% end %>
  </ul>
</header>

<div class="photos">
<div class="js-masonry transitions-enabled centered">
<% @photos.each do |photo| %>
  <div class="js-masonry--item item">
  <%#= image_tag show_image_photo_path(photo) %>
  <%= image_tag photo.thumb_url %>
    <div class="item--comment">
    <% unless photo.comment.empty? %>
      <%= photo.comment %>
    <% end %>
      <a href="<%= like_photo_path(photo) %>" class="btn-like">♥ <%= photo.like_count %></a>
    </div>
  </div>
  <% end %>
</div>

<%= paginate @photos %>
</div>
