<h1 class="ttl">投稿画面</h1>

<%#
  FIXME photos_controllerからここに遷移してくるルートがあるので、@photo.errorsが
  存在する場合は@photo.errors.full_messagesを出力するコードがあるといいです。
%>
<div class="form">
  <%# localeについて調べて使う！ %>
  <p><%= @photo.errors.full_messages %></p>
<%= form_for(@photo) do |f| %>
  
  <div class="form-group">
    <%= f.file_field :file %>
  </div>

  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, class:"form-control" %>
  </div>

<%= f.submit "upload photo!", class:"btn btn-default" %>
<% end %>
</div>

